header div.titles {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0 0;
  text-align: center;
}
header div.titles img {
  height: 12vh;
}
header div.titles div.menu-icons {
  font-size: 18px;
  display: inline-block;
  float: right;
}
header div.titles div.menu-icons h4 {
  margin: 0 5px;
  display: inline;
}
header nav {
  display: none;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}
header nav i.fa-times {
  position: absolute;
  z-index: 999;
  margin: 10px;
  font-size: 24px;
}
header nav ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  padding-top: 6vh;
}
header nav ul.menu li.menu-item {
  margin: 7vh auto;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
header nav ul.menu li.menu-item a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}
header nav ul.menu li.menu-item ul.submenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}
header nav ul.menu li.menu-item ul.submenu li.submenu-item {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  margin: 2vh auto;
}
header nav ul.menu li.menu-item ul.submenu li.submenu-item a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
@media only screen and (min-width: 700px) {
  header {
    padding-top: 2vh;
    margin-bottom: 2vh;
  }
  header div.titles {
    flex-direction: column;
  }
  header div.titles img {
    height: 15vh;
  }
  header div.titles div.menu-icons {
    display: none;
  }
  header nav {
    display: flex;
    min-height: 0;
    position: static;
    height: auto;
    z-index: 0;
  }
  header nav i.fa-times {
    display: none;
  }
  header nav ul.menu {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    padding: 15px 0;
  }
  header nav ul.menu::after,
  header nav ul.menu::before {
    background-color: #000;
    width: 2%;
    height: 1px;
    vertical-align: 4px;
    content: "";
    display: inline-block;
  }
  header nav ul.menu li.menu-item {
    width: 15.38461538%;
    margin: 0;
    display: inline-block;
    font-size: 16px;
  }
  header nav ul.menu li.menu-item a {
    font-size: 16px;
  }
  header nav ul.menu li.menu-item ul.submenu {
    margin: 15px 0;
    width: 15.38461538%;
    border: 1px solid transparent;
    position: absolute;
    z-index: 999;
    background-color: #fff;
  }
  header nav ul.menu li.menu-item ul.submenu li.submenu-item {
    display: block;
    font-size: 14px;
  }
  header nav ul.menu li.menu-item ul.submenu li.submenu-item a {
    font-size: 14px;
  }
}
main {
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
}
main img {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  object-position: top;
}
main section {
  width: 95%;
  margin: 0 auto;
}
main section div.section-heading h1 {
  font-size: 32px;
  margin: 0 auto;
}
main section div.section-heading hr {
  margin: 0;
}
main section div.text p {
  font-size: 20px;
}
main section div.text a {
  color: #000;
}
@media only screen and (min-width: 500px) {
  main {
    padding: 20px 0 0;
    flex-direction: row;
    height: 90vh;
  }
  main img {
    width: 60%;
    height: inherit;
  }
  main section {
    width: 40%;
    padding: 0 4%;
    height: 100%;
    overflow-y: scroll;
  }
  main section div.section-heading {
    padding-top: 4vh;
    margin-bottom: 10px;
  }
  main section div.text {
    height: 90%;
  }
  main section div.text p {
    font-size: 16px;
  }
}
footer nav.media-links ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer nav.media-links ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4vw;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
}
footer nav.media-links ul li a {
  font-size: 0;
  color: #fff;
}
footer nav.media-links ul li a i {
  font-size: 22px;
}
footer div.footer-text {
  text-align: center;
  margin: 15px 0;
}
footer div.footer-text h6 {
  margin: 0;
}
@media only screen and (min-width: 700px) {
  footer {
    margin: 20px;
  }
  footer nav.media-links ul li {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */