// Goes INSIDE the main tag as a media query

flex-direction: row;
height: 90vh;

img {
  width: 60%;
  height: inherit;
}

section {
  width: 40%;
  padding: 0 4%;
  height: 100%;
  overflow-y: scroll;

  div.section-heading {
    margin-bottom: 10px;

    h1 {}
    hr {}
  }

  div.text {
    height: 90%;

    p {
      font-size: @paragraph-text-desktop;
      a {}
    }
  }
}
