// Goes INSIDE the main tag as a media query

// .wrapper(60%);
// max-width: 650px;
// display: block;
// padding: 7vh 0;
// .wrapper(100%);
padding: 0;
// display: flex;
flex-direction: row;
height: 90vh;

img {
	width: 60%;
	height: inherit;
	// min-height: 80vh;
	// align-self: stretch;
	// width: 50%;
	// float: left;
	// height: 40vh;
	// margin-right: 10px;
}

section {
	width: 40%;
	padding: 0 3.5%;
	height: 100%;
	overflow-y: scroll;
	// overflow-y: scroll;

	div.section-heading {
		padding-top: 3vh;
		margin-bottom: 10px;
		// height: 15%;
		
		h1 {}

		hr {}
	}
	
	div.text {
		height: 90%;
		p {
			// margin-top: 0;
			font-size: @paragraph-text-desktop;

			a {}
		}
	}
}



